<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Posts</title>
</head>

<body>
  <form id="testForm" method="post" action="/posts">

    <input type="text" placeholder="Enter username" name="username" id="username" required><br><br>
    <textarea placeholder="Write your post" name="postContent" id="postContent" rows="5" required></textarea><br><br>
    <button type="submit">Submit</button>
  </form>


</body>

</html>